<div class="col-md-9">
    <div class="container-fluid">
        <div class="row">
            <h2>Hello, {{user_name}}</h2>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card bg-primary text-white" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Rooms</h5>
                        <h6 class="card-subtitle mb-2">Total Rooms</h6>
                        <h4>{{room_count}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-success text-white" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Guests</h5>
                        <h6 class="card-subtitle mb-2">Total Guests</h6>
                        <h4>5</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-warning text-white" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Expenses</h5>
                        <h6 class="card-subtitle mb-2">Total Expenses</h6>
                        <h4>50560</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-info text-white" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Payments</h5>
                        <h6 class="card-subtitle mb-2">Total Payments</h6>
                        <h4>100235</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>