<div class="col-md-9">
    <div class="container-fluid">
        <div class="row">
            <form action="/update_room?_method=PUT" method="post">
                <input type="hidden" name="room_id" value="{{room._id}}">
                <div class="form-group row">
                    <div class="col-md-4">
                        <input type="number" class="form-control" placeholder="Enter room no." name="room_no" value="{{room.room_no}}" required>
                    </div>
                    <div class="col-md-4">
                        <select name="room_type" class="form-select" required>
                            <option value="">Select Room Type</option>
                            <option value="single_bed" selected="{{eq_sb}}">Single Bed</option>
                            <option value="two_single_bed" selected="{{eq_db}}">Two Single Bed</option>
                            <option value="double_bed">Double Bed</option>
                            <option value="queen_bed">Queen Bed</option>
                            <option value="king_bed">King Bed</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <input type="number" class="form-control" placeholder="Enter room price" name="room_price" required>
                    </div>
                </div>

                <div class="form-group row mt-2">
                    <div class="col-md-6">
                        <h4 class="m-2 p-0">Room Features</h4>
                        <input type="checkbox" class="form-checkbox" name="is_ac" value="1"> Air Conditioner <br>
                        <input type="checkbox" class="form-checkbox" name="is_sa" value="1"> Smoking Area <br>
                        <input type="checkbox" class="form-checkbox" name="is_sofa" value="1"> Sofa <br>
                        <input type="checkbox" class="form-checkbox" name="is_dt" value="1"> Dining Table <br>
                        <input type="checkbox" class="form-checkbox" name="is_tv" value="1"> TV <br>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Add Room</button>
                    </div>
                    <div class="col-md-1">
                        <button type="reset" class="btn btn-secondary">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>