<div class="col-md-9">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <a href="/add_guest" class="btn btn-primary">Add Guest</a>
            </div>
        </div>
        <div class="row mt-5">
            {{#each guests}}
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{this.guest_name}}</h5>
                        <p class="card-text">{{this.guest_room}}</p>
                        <a href="/edit_room/{{this._id}}" class="btn btn-primary">Edit</a>
                        <form action="/delete_room/{{this._id}}?_method=DELETE" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>