<div class="col-md-3"> 
    <ul class="list-group">
        <li class="list-group-item list-group-item-action list-group-item-dark">
            <a href="/" class="btn d-block">Dashboard</a>
        </li>
        <li class="list-group-item list-group-item-action list-group-item-dark">
            <a href="/rooms" class="btn d-block">Rooms</a>
        </li>
        <li class="list-group-item list-group-item-action list-group-item-dark">
            <a href="/guests" class="btn d-block">Guests</a>
        </li>
            <li class="list-group-item list-group-item-action list-group-item-dark">
            <a href="/" class="btn d-block">Services</a>
        </li>
    </ul>
</div>